:root {
    --main_text_color:#033f5f;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.red {
    background-color: red;
}
.purple {
    background-color: purple;
}
.pink {
    background-color: pink;
}
.grey {
    background-color: grey;
}
.orange {
    background-color: orange;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
h1 {
    color: var(--main_text_color);
    font-size: 2.5rem;
}
h2 {
    color: var(--main_text_color);
    font-size: 2rem;
}
p, ul, ol {
    color: #747e83;
    font-size: 1.25rem; 
}
img {
    max-width: 100%; 
}

/** CSS Elements **/
.btn, .btn:visited {
    display: inline-block;
    background-color: teal;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.5em 1em;
}
.btn:hover {
    background-color: darkslategray;
    transition: background-color 250ms;
}

/** Grid **/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

/** Mobile Grid Layout **/
header, .siteid, nav, .hero, .events, .about, .about-text, .faq, .contact, .directions, footer {
    grid-column: 1 / span 12;
    border: #033f5f solid thin;
}
.hero {
    padding: 2em 6em;
    background-image: url(../images/hero-image.jpg);
}

/* Media Queries */
@media screen and (min-width:655px) {
    body {
    }
    .container {
        background-color:#ffffff;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
    }
    header {
        grid-column: 1 / span 12;
        position: fixed;
        top: 0;
        right: 100;
        width: 35%;
    }
    .siteid {
        grid-column: 1 / span 6;
    }
    nav {
        grid-column: 7 / span 6;
    }
    .hero {
        grid-column: 1 / span 12;
    }
    .hero h2 {
        width: 70%;
        color: #fff;
        font-size: 4em;
    }
    .events {
        grid-column: 1 / span 12;
    }
    .about {
        grid-column: 1 / span 6;
    }
    .about-text {
        grid-column: 7 / span 6;
    }
    .faq {
        grid-column: 1 / span 4;
    }
    .contact {
        grid-column: 5 / span 4;
    }
    .directions {
        grid-column: 9 / span 4;
    }
}

