* {
    box-sizing: border-box;
}
body {   
    margin: 0 10%;  
    font-family: sans-serif;  
    background-image: url(../images/bg.png);
}
header {
    background-color: #9abcf8;
    padding: 2em;
}
h1 {  
    color: white;
    font-size: 2em;
    }
h2 {   
    font-size: 1.5em;
}
h3 {   
    font-size: 1.25em;
}
p {
   font-size: 1em; 
}
img {
    max-width: 100%;
}
.double-border {
    width: 276px;
    height: 276px;
    border: 3px solid #d1633c;
    border-radius: 50%;   
}

/*** Navigation ***/
nav {
    background-color: #525252;
    padding: 0 1em;;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}
nav li {
    margin: 0 0.5em;
}
nav a, nav a:visited{
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1em;
    display: block;
    transition: ease-in-out 250ms;
}
nav a:hover {
    background-color: #9abcf8;
    color: #fff;
}

/*** Grid ***/
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    background-color: #fff;
}
header {
    grid-column: 1 / span 12;
}
nav {
    grid-column: 1 / span 12;
}
footer {
    grid-column: 1 / span 12;
    text-align: center;
}

/*** Home ***/
.home_section {
    grid-column: 1 / span 8;
}
.home_aside {
    grid-column: 9 / span 3;
}

/*** work ***/
.work_heading {
    grid-column: 1 / span 12;
}
.work_section {
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}



/*** Contact ***/
.contact_aside{
    grid-column: 1 / span 3;
}
.contact_section {
    grid-column: 4 / span 8;
}

/*** Font Awesome **/
.social {
    height: 20px;
    width: 20px;
}

/*** Elements ***/
.circle {
    width: 270px;
    border: 3px solid lightblue;
    border-radius: 50%;
}
.btn {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #3068c9;
    font-size: 1rem;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    transition: background-color 250ms;
}
.btn:hover {
    background-color: #104298;
}
.card {
    text-align: center;
    margin: 1em;
    padding-bottom: 2em;
    box-shadow: #525252 0px 0px 5px;
    max-width: 27.5%;
}
.card-title {
    margin: 0.5em 0 0;
}
.card-text {
    padding: 0 2em 0.5em;
}